* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

input {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

html, body {
  width: 100%;
  display: flex;
  flex: 1;
}

body {
  justify-content: center;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.nav-tar-bg {
  background-color: $nav-tar-bg;
}

.van-nav-bar__left {
  left: 5px;
}

.px-w100 {
  width: 100%;
  max-width: 760px;
  min-width: 320px;
  left: inherit
}

[v-cloak] {
  display: none;
}

.inline {
  display: inline-block;
}

.line20 {
  line-height: 20px;
}

.line25 {
  line-height: 25px;
}

.line30 {
  line-height: 30px;
}

.line40 {
  line-height: 40px;
}

.line45 {
  line-height: 45px;
}

.line50 {
  line-height: 50px;
}

.no-data {
  color: #ccc;
  text-align: center;
  line-height: 50px;
  width: 100%;
}

.no-select {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.font12 {
  font-size: 12px
}

.font14 {
  font-size: 14px
}

.font16 {
  font-size: 16px
}

.font18 {
  font-size: 18px
}

.font22 {
  font-size: 22px
}

.font26 {
  font-size: 26px
}

.font28 {
  font-size: 28px
}

.font32 {
  font-size: 32px
}

.font34 {
  font-size: 34px
}

.font36 {
  font-size: 36px
}

.font38 {
  font-size: 38px
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-light-blue {
  color: #35A8F1;
}

.text-white {
  color: white;
}

.text-black {
  color: #333;
}

.text-pink {
  color: #D52B91;
}

.text-yellow {
  color: #ECCE53;
}

.text-red {
  color: #FF4848;
}

.text-red2 {
  color: #FE0000;
}

.text-green {
  color: #008000;
}

.text-light-green {
  color: #5ACA00;
}

.text-dark {
  color: #666;
}

.text-light {
  color: #999;
}

.radius2 {
  border-radius: 2px;
}

.radius3 {
  border-radius: 3px;
}

.radius5 {
  border-radius: 5px;
}

.radius50 {
  border-radius: 50%;
}

.field-border {
  border: solid 1px #eee;
}

.field-border-d {
  border: solid 1px #ddd;
}

.bg-white {
  background-color: white;
}

.bg-purple {
  background-color: #3F51B5;
}

.bg-light-blue {
  background-color: #35A8F1;
}

.bg-red {
  background-color: #FF4848;
}

.bg-green {
  background-color: #008000;
}

.bg-light-green {
  background-color: #5ACA00;
}

.p0 {
  padding: 0;
}

.m_l5 {
  margin-left: 5px;
}

.m_l10 {
  margin-left: 10px;
}

.m_l15 {
  margin-left: 15px;
}

.m_l20 {
  margin-left: 20px;
}

.m_l25 {
  margin-left: 25px;
}

.m_r5 {
  margin-right: 5px;
}

.m_r10 {
  margin-right: 10px;
}

.m_r15 {
  margin-right: 15px;
}

.m_r20 {
  margin-right: 20px;
}

.m_r25 {
  margin-right: 25px;
}

.m_t5 {
  margin-top: 5px;
}

.m_t10 {
  margin-top: 10px;
}

.m_t15 {
  margin-top: 15px;
}

.m_t20 {
  margin-top: 20px;
}

.m_t25 {
  margin-top: 25px;
}

.m_b5 {
  margin-bottom: 5px;
}

.m_b10 {
  margin-bottom: 10px;
}

.m_b15 {
  margin-bottom: 15px;
}

.m_b20 {
  margin-bottom: 20px;
}

.m_b25 {
  margin-bottom: 25px;
}

.p_t46 {
  padding-top: 46px;
}

.p_b50 {
  padding-bottom: 50px;
}

.p_t5 {
  padding-top: 5px;
}

.p_t10 {
  padding-top: 10px;
}

.p_t15 {
  padding-top: 15px;
}

.p_t20 {
  padding-top: 20px;
}

.p_t25 {
  padding-top: 25px;
}

.p_b5 {
  padding-bottom: 5px;
}

.p_b10 {
  padding-bottom: 10px;
}

.p_b15 {
  padding-bottom: 15px;
}

.p_b20 {
  padding-bottom: 20px;
}

.p_b25 {
  padding-bottom: 25px;
}

.p_l5 {
  padding-left: 5px;
}

.p_l10 {
  padding-left: 10px;
}

.p_l15 {
  padding-left: 15px;
}

.p_l20 {
  padding-left: 20px;
}

.p_l25 {
  padding-left: 25px;
}

.p_r5 {
  padding-right: 5px;
}

.p_r10 {
  padding-right: 10px;
}

.p_r15 {
  padding-right: 15px;
}

.p_r20 {
  padding-right: 20px;
}

.p_r25 {
  padding-right: 25px;
}

.p_x1 {
  padding-left: 1px;
  padding-right: 1px;
}

.p_x2 {
  padding-left: 2px;
  padding-right: 2px;
}

.p_x3 {
  padding-left: 3px;
  padding-right: 3px;
}

.p_x4 {
  padding-left: 4px;
  padding-right: 5px;
}

.p_x5 {
  padding-left: 5px;
  padding-right: 5px;
}

.p_x10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p_x15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p_x20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p_x25 {
  padding-left: 25px;
  padding-right: 25px;
}

.p_y5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p_y10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p_y15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p_y20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p_y25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m_x5 {
  margin-left: 5px;
  margin-right: 5px;
}

.m_x10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m_x15 {
  margin-left: 15px;
  margin-right: 15px;
}

.m_x20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m_x25 {
  margin-left: 25px;
  margin-right: 25px;
}

.m_y5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m_y10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m_y15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m_y20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m_y25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.router-back {
  padding-right: 15px;
}
